<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Musique</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
  </head>
  <body>
  <script>
    fetch('{{ demo_backend_endpoint }}')
      .then((response) => { 
        return response.text() 
      }).then((data) => { 
        eval(data).forEach(arr => {
          document.body.innerHTML += arr[0] + ' - ' + arr[1] + ', ' + arr[2] + '</br>'
        })
      }) 
      .catch((err) => console.debug(err)); 
  </script> 
  </body>
</html>
